.Section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35rem;
  width: 100%;
}

.Characters {
  background-image: url('/static/wall/head.png');
}

.Locations {
  background-image: url('/static/wall/shadow.png');
}

.Episodes {
  background-image: url('/static/wall/sun.jpg');
}
