@import 'styles/variables.scss';

.Location {
  border: 1px solid;
  cursor: pointer;
  display: flex;
  margin: .5rem;
  width: 48%;
  height: 7rem;
  background: white;
  img {
    height: 100%;
    width: 12rem;
  }
  &:nth-child(2n) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.Data {
  padding: 1rem;
  p {
    color: $dark-text;
    span {
      color: $medium-text;
    }
  }
}
