.Card {
  border: 1px solid;
  width: 10rem;
  margin: .5rem;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  background: white;
  img {
    width: 10rem;
    height: 10rem;
  }
  p {
    padding: 1rem;
  }
}
