// Backgrounds
$background-primary: #bee5fd;
$background-secondary: #b0e7e8;


// Focus
$focus-primary: #fff874;

// Text
$very-dark-text: #212121;
$dark-text: #424242;
$medium-text: #616161;
$light-text: #9e9e9e;
$very-light-text: #bdbdbd;

// Border
$medium-border: #9e9e9e;
